<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Extend Warranty
 *
 * @author      Extend Magento Team <magento@etend.com>
 * @category    Extend
 * @package     Warranty
 * @copyright   Copyright (c) 2021 Extend Inc. (https://www.extend.com/)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="extend" translate="label comment" sortOrder="10">
            <label>Extend</label>
        </tab>
        <section id="warranty" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1"
                 showInStore="1" canRestore="1">
            <tab>extend</tab>
            <label>Extend Protection Plans</label>
            <resource>Extend_Warranty::warranty</resource>
            <group id="customizations" translate="label comment" sortOrder="90" showInDefault="1" showInWebsite="1"
                   showInStore="1" canRestore="0">
                <label>Customer Group Rules</label>
                <comment>You can choose to hide the Extend offers and modals from certain customer groups</comment>
                <depends>
                    <field id="warranty/enableExtend/enable">1</field>
                </depends>

                <field id="group_rules_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Hide Extend Offers per Customer Group</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>

                </field>

                <field id="customer_group_multiselect" translate="label comment" type="multiselect" showInDefault="1"
                       showInWebsite="1" showInStore="1" sortOrder="10">
                    <label>Select Customer Groups to Hide Extend Offers</label>
                    <comment>Make sure to clear Magento's cache after picking your customer group</comment>
                    <source_model>Extend\CustomGroupRules\Model\Source\Attribute</source_model>
                    <frontend_model>Extend\CustomGroupRules\Block\Adminhtml\MultiUiSelect</frontend_model>
                    <can_be_empty>1</can_be_empty>
                </field>

            </group>
        </section>
    </system>
</config>
